@import url('./variables');
// Global
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h3{
    color: darken(#b3b3b3, 30%);
    font-size:1.2rem;
    text-transform: uppercase;
    margin-top:1rem;
}
input, textarea, select{
    border: 1px solid #b3b3b3;
    background: lighten(#b3b3b3, 25%);
    width: 100%;
    height:2rem;
    margin: 1rem 0;
    border-radius: 5px;
}
.btn-group{
    display: flex;
    .btn{
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 100px;
        padding: 1rem;
        font-size:1rem;
        flex: 1;
        text-transform: uppercase;
        border: 0;
        &:first-child{
            margin-right:1rem;
        }
    
        &.is-success{
            background: #4d4c72;
        }
        &.is-danger{
            background: #b3b3b3;
        }
    }
}

// styles
.container{
    header{
        width: 100%;
        height: 73px;
        background: #7477bf;
        display: flex;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 1fr;
        align-items: center;
        justify-items: center;
        
        .logo{
            font-size: 1.7rem;
            text-transform: uppercase;
            order: 0;
        }
        .notification{
            order: 2;
            img{
                width: 25%;
                height: 25%;
            }
        }
        .avatar{
            margin-left: 0.5rem;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            overflow: hidden;
            order: 1;
            text-align: right;
        }
    }
    .content{
    aside{
        display: flex;
        height: auto;
        background: #4d4c72;
        justify-content: center;
        @media(min-width: 1024px){
            flex-direction: column;
        }

        .aside-nav{
            position: relative;

            .current{
                span{
                    width: 100%;
                    height:5px;
                    display: block;
                    position: absolute;
                    top: 0;
                    background: #85db80;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
            }
        }
     }
     main{
         .main-nav{
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                   display: flex;
                   align-items: center;
                   &:first-child{
                       height: 50px;
                       justify-content: center;
                       align-items: center;
                       text-align: center;
                       text-transform: uppercase;
                       width: auto;
                    }
                    &:last-child{
                        text-align: right;
                        width: 100%;
                        background: #fbfbfb;
   
                        input{
                            width: 100%;
                            height:50px;
                            border:1px solid grey;
                            border-radius: 5px;
                        }
                    }
                    div{
                        width: 100%;
                        position: relative;
                        display: grid;
                        align-items: center;
                        .fa-search{
                            position: absolute;
                            right: 10px;
                            top: 30px;
                        }
                    }
                }
    
            }
         }

         .alert{
             background: #7377bf;
             color: #fff;
             width: 100%;
             display: flex;
             align-items: center;
             padding:0.5rem;
             border-radius: 5px;
             margin-top: 1rem;
             p{
                 margin-right: auto;
             }
             .fa-times{
                 cursor: pointer;
             }
         }
         .dashboard-{
             &summary{
                margin-top: 1rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    @media (min-width: 1024px){
                        flex-direction: row;
                    }
                    li{
                        &:first-child{
                            text-transform: uppercase;
                            @media (min-width: 1024px){
                                margin-right: auto;
                            }
                        }
                        text-align: center;
                        line-height: 2rem;
                        @media (min-width: 1024px){
                           margin:0 1rem;
                        }
                        a{
                            color: #b3b3b3;
                        }
                    }
                    .current{
                        background:#85db80;
                        padding: 5px 20px;
                        border-radius: 25px;
                        color: #fff;
                    }
                }
             }
         }
         .stats{
            @media (min-width: 1024px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                article{
                    @media (min-width: 1024px){
                    } 
            }              
            }
        }
     }
     img{
         width: 50px;
         height: 50px;
         padding: 10px;
     }
     article{
        border-bottom: 1px solid #d8d8d8;
        }
    .social{
            ul{
                @media (min-width: 1024px){
                    display: flex;
                    justify-content: space-around;
                }
            }
            li{
                border: 1px solid #b3b3b3;
                border-radius: 5px;
                background: #fbfbfb;
                height: 5rem;
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: 1024px){
                   width: 100%;
                   margin: 10px;
                }
                
                h5{
                    color: #4d4c72;
                    font-weight: bold;
                    font-size: 1.4rem;
                }
                h2{
                    color:darken(#b3b3b3, 27%);
                    font-size: 2rem;

                }
                div{
                    &:first-child{
                        background: #4d4c72;
                        padding: 0.3rem;
                        border-radius: 50%;
                        margin-right:1rem;
                    }
                }
            }
        }
        .members{
            @media (min-width: 1024px){
                display: flex;
            }
            article{
                @media (min-width: 1024px){
                    flex: 1;
                    margin-left: 1rem;
                }
                &::nth-child(3){
                    order:1;
                }
            }
            p,div{
                color:darken(#b3b3b3, 20%);
            }
            a{
                color:#7377bf;
            }
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom:1px solid #b3b3b3;
                div{
                    &:nth-child(2){
                        flex: 2;
                    }
                }
            }
            img{
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
            .message-form{
                h3{
                    color: darken(#b3b3b3, 30%);
                    font-size:1.2rem;
                }
                @media (min-width: 1024px){
                    display: flex;
                }

                @media (min-width:768px){
                    display: block;
                }
                .btn{
                    @media (min-width: 1024px){
                        padding: 0!important;
                        margin: 0;
                    }
                }
                textarea{
                    height: 10rem;
                }
            }
            .settings{
                @media (min-width:768px){
                    display: grid;
                    grid-gap: 15px;
                }
                h3{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .form-group{
                    &:nth-child(4){
                        @media (min-width:768px){
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    }
                }
                .btn-group{
                    @media (min-width:768px){
                        grid-column-start: 1;
                        grid-column-end: 3;   
                    }
                }
            }
        }
    }
}
